<h1>{{title}}</h1>
<div>
  <ag-grid-angular
    style="width: 1000px;"
    class="ag-theme-material"

    animateRows
    suppressChangeDetection=true
    [rowModelType]="rowModelType"
    [gridOptions]="gridOptions"
    [modules]="modules"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="pageSize"
    [rowSelection]="rowSelection"
    [rowMultiSelectWithClick]="true"
    domLayout="autoHeight"

    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="cellValueChanged($event)"
  >
  </ag-grid-angular>
  <button *ngIf="isDeleteButtonEnabled" (click)="onDeleteClicked()">Удалить выбранное</button>
</div>

<div>
  <h2>Вставка</h2>
  <ag-grid-angular
                   style="width: 1000px;"
                   class="ag-theme-material"
                   domLayout="autoHeight"
                   [defaultColDef]="insertGrid.defaultColDef"
                   [columnDefs]="insertGrid.columnDefs"
                   (gridReady)="insertGrid.onGridReady($event)"
                   [modules]="insertGrid.modules"
  ></ag-grid-angular>
  <button (click)="insertGrid.addRow()">Добавить пустую строку</button>
  <button (click)="insertGrid.onInsertClicked()">Вставить значения</button>
</div>
