
<form class="queryParamForm" [formGroup]="form" >
  <fieldset *ngIf="queryProperties.params.length != 0">
    <legend>{{queryProperties.name}}</legend>
    <div *ngFor="let param of queryProperties.params; let i = index">
      <div class="form-field">
        <label>{{param.readableName}}</label>
        <input name="{{param.name}}" formControlName="{{param.name}}">
      </div>
    </div>
  </fieldset>
  <div style="margin: 10px" class="form-but tons">
    <button class="button button-primary"
            (click)="runQuery()">Запрос
    </button>
  </div>
</form>
<ag-grid-angular style="width: 1000px; height: 600px;"
                 class="ag-theme-material"

                 animateRows
                 [defaultColDef]="defaultColDef"
                 [columnDefs]="columnDefs"
                 [rowData]="rowData"
>
</ag-grid-angular>
