<h1>{{title}}</h1>
<div>
  <ag-grid-angular
    style="width: 1500px;"
    class="ag-theme-material"

    animateRows
    suppressChangeDetection=true
    [rowModelType]="rowModelType"
    [gridOptions]="gridOptions"
    [modules]="modules"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="pageSize"
    [rowSelection]="rowSelection"
    [rowMultiSelectWithClick]="true"
    [components]="components"
    domLayout="autoHeight"

    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="updateCellValue($event)"
  >
  </ag-grid-angular>
  <button *ngIf="isDeleteButtonEnabled" (click)="deleteSelected()">Удалить выбранное</button>
</div>
<button (click)="openInsertDialog()">Вставить значения</button>

